<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Agendamento</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Formulário de agendamento
            </div>
            <div class="panel-body">
                <form role="form">

                    <div class="row">
                        <div class="col-md-6">
                            
                            <h1>Dados do agendamento</h1>

                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" ng-model="usuario.nome" class="form-control" readonly="">
                            </div>

                            <div class="form-group">
                                <label>Profissional</label>
                                <input type="text" ng-model="profissional.nome" class="form-control" readonly="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h1>Descrição da atividade</h1>

                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea ng-model="form.especialidade" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-md-6">
                            <h1>Local da atividade</h1>

                            <div class="form-group">
                                <label>Local</label>
                                <select ng-model="form.local" class="form-control">
                                    <option value="">Locais</option>
                                    <!-- <option value="0">Outros</option> -->
                                    <option value="{{local.idLocalDefinido}}" ng-repeat="local in listPlaces">{{local.observacoes}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <label>Data</label>
                                        <input type="date" ng-model="form.data" class="form-control">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Hora</label>
                                        <input type="time" ng-model="form.hora" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Tempo hora/aula</label>
                                <input type="number" ng-model="form.duracao_aula" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Valor hora/aula</label>
                                <input type="text" readonly="" value="{{form.duracao_aula}} X {{profissional.codProfissional.valorHoraAula}} = R$ {{form.duracao_aula*profissional.codProfissional.valorHoraAula}}" class="form-control">
                            </div>
                            
                        </div>
                        
                        <!-- DADOS DE ENDEREÇO DO USUÁRIO -->
                        <div class="col-md-6" ng-if="form.local === '0'">
                            
                            <h1>Endereço</h1>

                            <div class="form-group">
                                <label>Identificação</label>
                                <input type="text" ng-model="form.localidade.observacoes" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>CEP</label>
                                <input type="text" ng-model="form.localidade.cep" class="form-control">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <label>Endereço</label>
                                        <input type="text" ng-model="form.endereco" class="form-control">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Número</label>
                                        <input type="text" ng-model="form.numero" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Bairro</label>
                                <input type="text" ng-model="form.localidade.bairro" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Complemento</label>
                                <input type="text" ng-model="form.localidade.complemento" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>UF</label>
                                <select ng-model="form.localidade.UF" class="form-control">
                                    <option value="">Selecione um Estado</option>
                                    <option value="{{state.idestado}}" ng-repeat="state in listState">{{state.nome}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Ciadde</label>
                                <select ng-model="form.localidade.cidade" class="form-control">
                                    <option value="">Selecione uma cidade</option>
                                    <option value="{{city.idcidade}}" ng-repeat="city in listCity">{{city.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" ng-disabled="!form.local" ng-click="save(form)" class="btn btn-default">Gravar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
