<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Usuários</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Todos usuários
                <button type="button" ui-sref="dashboard.form_usuario" class="pull-right btn btn-primary btn-circle"><i class="fa fa-plus"></i> </button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th>Data de cadastro</th>
                                    <th>Situação</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr class="odd gradeX" ng-repeat="item in listItens">
                                    <td>{{item.nome}}</td>
                                    <td>{{cod_cliente? 'Cliente' : 'Profissional'}}</td>
                                    <td>{{data_cadastro}}</td>
                                    <td class="center text-success" ng-class="status? text-success : text-danger">
                                        <strong>{{status? 'Ativo' : 'Inativo'}}</strong>
                                    </td>
                                    <td>
                                        <button type="button" ui-sref="dashboard.form_usuario({ idUsuario: item.idUsuario })" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" ng-click="delete($index, item)" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-if="!listItens.length">
                                    <td colspan="5"><b>Nenhum registro encontrado</b></td>
                                </tr>

                                <!-- <tr class="odd gradeX" ng-repeat="item in listItens">
                                    <td>Joaquim Barbosa</td>
                                    <td>Profissional</td>
                                    <td>24/12/2015 10:10</td>
                                    <td class="center text-danger"> <strong>Inativo</strong></td>
                                    <td>
                                        <button type="button" ui-sref="dashboard.report_edit" class="btn btn-primary btn-circle"><i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr> -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
